@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

main{

}
body{
    background-color: lightgray;
    border-color: #eee;
    font-family: Source Sans Pro;
    
}
.newspaper-container{
    background-color: white;
    width: 700px ;
    border-radius: 20px;
    box-shadow: #ddd;
    padding: 20px;
}

.date{
    text-align: left;
}
header{
    text-align: center;
    font-family:abril Fatface ;

}
h2,h4{
    font-family: Roboto Slab;
}
nav ul{
    list-style: none
    
            
}
li{
    display: inline-block;
    padding: 5px;
    
}
nav {
    border-width: 2px;
    border: grey solid;
   


}

.more-articles{
    display: inline-flex
}